---
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';

const secciones = await getCollection('secciones') as CollectionEntry<'secciones'>[];
const misionVision = secciones[0];
const { Content } = await misionVision.render();
---

<section class="w-full flex flex-col items-center justify-center px-2 py-4 sm:px-4 sm:py-8 md:py-12">
    <div class="relative w-full max-w-5xl mx-auto inset-shadow-indigo-500">
        <img 
            src={secciones[0].data.imagen} 
            alt="Mision y Visión"
            class="w-full min-h-[65vh] sm:min-h-[70vh] md:min-h-[60vh] lg:min-h-[55vh] xl:min-h-[50vh] object-cover object-[center_35%] sm:object-[center_65%] rounded-lg shadow-xl transition-all duration-300 ease-in-out"
        />
        <div class="absolute inset-0 flex items-center justify-center px-3 sm:p-4 md:p-6 lg:p-8">
            <div class="bg-white text-black rounded-lg text-center w-full max-w-[98%] sm:max-w-[95%] md:max-w-[90%] lg:max-w-[85%] mx-auto p-3 sm:p-4 md:p-6 lg:p-8 opacity-90 backdrop-blur-sm shadow-lg transition-all duration-300 ease-in-out prose-xs sm:prose-sm md:prose-xl lg:prose-2xl [&_strong]:block [&_strong]:mb-2 [&_strong]:text-xl sm:text-2xl md:text-4xl lg:text-5xl [&_strong]:font-bold [&_strong]:text-[#0071cd] [&_p]:mt-0 [&_p]:mb-4 [&_p]:text-base sm:text-lg md:text-2xl lg:text-3xl [&_p]:leading-relaxed">
                    <Content />
                </div>
            </div>
        </div>
    </div>
</section>