---
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';

const secciones = await getCollection('secciones') as CollectionEntry<'secciones'>[];
const misionVision = secciones[0];
const { Content } = await misionVision.render();
---

<section class="w-full flex flex-col items-center justify-center px-2 py-4 sm:px-4 sm:py-8 md:py-12">
    <div class="relative w-full max-w-5xl items-center content-center mx-auto inset-shadow-indigo-500">
        <img 
            src={secciones[0].data.imagen} 
            alt="Mision y Visión"
            class="w-full min-h-[65vh] sm:min-h-[60vh] md:min-h-[55vh] lg:min-h-[50vh] xl:min-h-[45vh] object-cover object-[center_40%] sm:object-[center_50%] rounded-lg shadow-xl transition-all duration-300 ease-in-out"
        />
        <div class="absolute inset-0 flex items-center justify-center px-2 sm:px-4 md:px-6 lg:px-8">
            <span class="bg-white/85 text-black rounded-lg text-center w-full max-w-[98%] sm:max-w-[95%] md:max-w-[90%] lg:max-w-[80%] mx-auto p-4 shadow-lg transition-all duration-300 ease-in-out prose prose-sm md:prose-base lg:prose-lg [&_strong]:block [&_strong]:mb-2 [&_strong]:text-lg sm:text-xl md:text-2xl lg:text-3xl [&_strong]:font-bold [&_strong]:text-[#0071cd] [&_p]:mt-0 [&_p]:mb-2 [&_p]:text-sm sm:text-base md:text-lg [&_p]:leading-relaxed">
                <Content />
            </span>
        </div>
    </div>
</section>