---
import Lenis from 'lenis'; 
import '../styles/global.css';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/public/FEQMO.jpg" />
		<meta name="generator" content={Astro.generator} />
		<title>FEQMO</title>
	</head>
	<body>
		<div>
			<slot />
		</div>
	</body>
</html>

<script>
	import gsap from 'gsap';
	import { ScrollTrigger } from 'gsap/ScrollTrigger';
	import Lenis from 'lenis';
    
    // Registrar el plugin
    gsap.registerPlugin(ScrollTrigger);

    // Inicializar Lenis
    const lenis = new Lenis()

    // Vincular Lenis con GSAP
    function raf(time: number) {
        lenis.raf(time)
        requestAnimationFrame(raf)
    }

    requestAnimationFrame(raf)

    // Actualizar ScrollTrigger en cada frame
    lenis.on('scroll', ScrollTrigger.update)

    // Ejemplo básico de GSAP
    gsap.to('body > div', {
        opacity: 1,
        duration: 1,
        ease: 'power2.out'
    })
</script>

<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}

	html {
		font-family: system-ui, sans-serif;
		background: #F4F4F4;
		color: #636363;
	}

	html,
	body {
		@apply grid place-content-center;
	}

	body > div {
		@apply container;
	}
</style>
