---
import '../styles/global.css';
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/FEQMO.jpg" />
        <meta name="generator" content={Astro.generator} />
        <title>FEQMO</title>
    </head>
    <body>
        <main>
            <slot />
        </main>
    </body>
</html>

<script>
    import gsap from 'gsap';
    import { ScrollTrigger } from 'gsap/ScrollTrigger';
    import Lenis from 'lenis';
    
    gsap.registerPlugin(ScrollTrigger);

    const lenis = new Lenis({
        duration: 1.2,
        easing: (t) => Math.min(1, 1.001 - Math.pow(2, -10 * t)),
        orientation: 'vertical',
        smoothWheel: false,
        wheelMultiplier: 1,
        touchMultiplier: 2,
        infinite: false,
    });

    lenis.on('scroll', ScrollTrigger.update);

    gsap.ticker.add((time) => {
        lenis.raf(time * 1000); // Convert time from seconds to milliseconds
    });

    gsap.ticker.lagSmoothing(0);

    function raf(time: number) {
        lenis.raf(time);
        requestAnimationFrame(raf);
    }

    requestAnimationFrame(raf);
</script>

<style is:global>
    :root {
        --accent: 136, 58, 234;
        --accent-light: 224, 204, 250;
        --accent-dark: 49, 10, 101;
        --accent-gradient: linear-gradient(
            45deg,
            rgb(var(--accent)),
            rgb(var(--accent-light)) 30%,
            white 60%
        );
    }

    html, body {
        margin: 0;
        padding: 0;

Integridad

Ética

Compromiso
FEQMO_logo
FEQMO

Cooperación
        width: 100%;
        height: 100%;
        overflow-x: hidden;
    }

    body {
        font-family: system-ui, sans-serif;
        background: #F4F4F4;
        color: #636363;
    }

    main {
        width: 100%;
        min-height: 100vh;
        overflow-y: auto;
        overflow-x: hidden;
    }
</style>